body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: SEGOE UI;
  background: whitesmoke;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkblue;
  color: whitesmoke;
  width: 100%;
}

.informacoes div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.informacoes div p{
  /* background: black; */
  padding-left: 150px;
  padding-right: 150px;
}

h2{
  font-weight: normal;
}